In [ ]:
import io
import pandas as pd
import seaborn as sns 
import matplotlib
from matplotlib import pyplot as plt
from scipy import stats as sts  
import datetime as dt
from collections import Counter
import os
import numpy as np

In [ ]:
df = pd.read_csv("/content/flights_jan2019.csv")

In [ ]:
df.head()

   YEAR  QUARTER  MONTH  ...  SECURITY_DELAY  LATE_AIRCRAFT_DELAY Unnamed: 50
0  2019        1      1  ...             NaN                  NaN         NaN
1  2019        1      1  ...             NaN                  NaN         NaN
2  2019        1      1  ...             NaN                  NaN         NaN
3  2019        1      1  ...             NaN                  NaN         NaN
4  2019        1      1  ...             NaN                  NaN         NaN

[5 rows x 51 columns]

In [ ]:
# 29 out of 51 columns chosen for analysis

df = df[[
    'YEAR', 
    'DAY_OF_MONTH',
    'DAY_OF_WEEK',
    'FL_DATE',
    'OP_UNIQUE_CARRIER',
    'ORIGIN', 
    'ORIGIN_WAC',
    'DEST',
    'DEST_WAC',
    'DEP_TIME',
    'DEP_DELAY',
    'DEP_DEL15',
    'TAXI_OUT',
    'TAXI_IN',
    'WHEELS_OFF',
    'WHEELS_ON',
    'ARR_TIME',
    'ARR_DELAY',
    'ARR_DEL15',
    'CANCELLED',
    'CANCELLATION_CODE',
    'DIVERTED',
    'AIR_TIME',
    'DISTANCE',
    'CARRIER_DELAY',
    'WEATHER_DELAY',
    'NAS_DELAY',
    'SECURITY_DELAY',
    'LATE_AIRCRAFT_DELAY' ]]

In [ ]:
df.isna().sum()

YEAR                        0
DAY_OF_MONTH                0
DAY_OF_WEEK                 0
FL_DATE                     0
OP_UNIQUE_CARRIER           0
ORIGIN                      0
ORIGIN_WAC                  0
DEST                        0
DEST_WAC                    0
DEP_TIME                16352
DEP_DELAY               16355
DEP_DEL15               16355
TAXI_OUT                16616
TAXI_IN                 17061
WHEELS_OFF              16616
WHEELS_ON               17061
ARR_TIME                17061
ARR_DELAY               18022
ARR_DEL15               18022
CANCELLED                   0
CANCELLATION_CODE      567259
DIVERTED                    0
AIR_TIME                18022
DISTANCE                    0
CARRIER_DELAY          478763
WEATHER_DELAY          478763
NAS_DELAY              478763
SECURITY_DELAY         478763
LATE_AIRCRAFT_DELAY    478763
dtype: int64

### Since all the delay columns will be a major part of my analysis, and a major chunk of the data in these columns is missing. I will convert these missing values to 0.

In [ ]:
values = {
    'DEP_DELAY': 0, 
    'DEP_DEL15': 0, 
    'ARR_DELAY': 0, 
    'ARR_DEL15': 0, 
    'CARRIER_DELAY': 0, 
    'WEATHER_DELAY': 0, 
    'NAS_DELAY': 0,
    'SECURITY_DELAY': 0,
    'LATE_AIRCRAFT_DELAY': 0 }

df = df.fillna(value = values)

### Replacing the missing values for Taxi in/out, Wheels on/off with the column mean values.

In [ ]:
TAXIOUT_mean = df['TAXI_OUT'].mean()
TAXIIN_mean = df['TAXI_IN'].mean()
WHEELSOFF_mean = df['WHEELS_OFF'].mean()
WHEELSON_mean = df['WHEELS_ON'].mean()

df['TAXI_OUT'] = df['TAXI_OUT'].fillna(TAXIOUT_mean)
df['TAXI_IN'] = df['TAXI_IN'].fillna(TAXIIN_mean)
df['WHEELS_OFF'] = df['WHEELS_OFF'].fillna(WHEELSOFF_mean)
df['WHEELS_ON'] = df['WHEELS_ON'].fillna(WHEELSON_mean)

### Removing the column Cancellation Code as 90% of the values are missing

In [ ]:
df = df.drop(['CANCELLATION_CODE'], axis=1)

### Now only left with Arrival, Delay and Air - Time columns. It does not make sence to relace the the missing values with 0. Thus, I will just drop them.

In [ ]:
df = df.dropna()
df = df.reset_index(drop = True)

### Final clean dataset for testing my models on

In [ ]:
df.shape

(565963, 28)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565963 entries, 0 to 565962
Data columns (total 28 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   YEAR                 565963 non-null  int64
 1   DAY_OF_MONTH         565963 non-null  int64
 2   DAY_OF_WEEK          565963 non-null  int64
 3   FL_DATE              565963 non-null  object
 4   OP_UNIQUE_CARRIER    565963 non-null  object
 5   ORIGIN               565963 non-null  object
 6   ORIGIN_WAC           565963 non-null  int64
 7   DEST                 565963 non-null  object
 8   DEST_WAC             565963 non-null  int64
 9   DEP_TIME             565963 non-null  float64
 10  DEP_DELAY            565963 non-null  float64
 11  DEP_DEL15            565963 non-null  float64
 12  TAXI_OUT             565963 non-null  float64
 13  TAXI_IN              565963 non-null  float64
 14  WHEELS_OFF           565963 non-null  float64
 15  WHEELS_ON            565963 non-null  float64
 16  ARR_TIME             565963 non-null  float64
 17  ARR_DELAY            565963 non-null  float64
 18  ARR_DEL15            565963 non-null  float64
 19  CANCELLED            565963 non-null  float64
 20  DIVERTED             565963 non-null  float64
 21  AIR_TIME             565963 non-null  float64
 22  DISTANCE             565963 non-null  float64
 23  CARRIER_DELAY        565963 non-null  float64
 24  WEATHER_DELAY        565963 non-null  float64
 25  NAS_DELAY            565963 non-null  float64
 26  SECURITY_DELAY       565963 non-null  float64
 27  LATE_AIRCRAFT_DELAY  565963 non-null  float64
dtypes: float64(19), int64(5), object(4)
memory usage: 120.9+ MB

### Saving the clean dataset to use for my analysis

In [ ]:
df.to_csv('flights_jan2019_clean.csv', index = False)