In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive 
drive.mount('drive')

Mounted at drive

In [3]:
data = pd.read_csv('/content/drive/MyDrive/Clean_cap/flights_jan2015to2018.csv')

In [5]:
data.shape

(1881656, 28)

In [6]:
data.head(3)

   YEAR  DAY_OF_MONTH  ...  SECURITY_DELAY LATE_AIRCRAFT_DELAY
0  2015            15  ...             0.0                13.0
1  2015            16  ...             0.0                 0.0
2  2015            17  ...             0.0                 0.0

[3 rows x 28 columns]

In [7]:
test_data = pd.read_csv('/content/drive/MyDrive/Clean_cap/flights_jan2019_clean.csv')

In [8]:
test_data.shape

(565963, 28)

## Focusing on the top 3 airports to narrow down the data

In [9]:
origin_focus_train = data[(data.ORIGIN=='ATL') | (data.ORIGIN=='ORD') | (data.ORIGIN=='DFW')]

In [10]:
origin_focus_test = test_data[(test_data.ORIGIN=='ATL') | (test_data.ORIGIN=='ORD') | (test_data.ORIGIN=='DFW')]

In [11]:
origin_focus_train.shape

(277372, 28)

In [12]:
origin_focus_test.shape

(76824, 28)

### Narrowing down the test data to top 3 airlines

In [13]:
origin_focus_test = origin_focus_test[(origin_focus_test.OP_UNIQUE_CARRIER=='WN') | (origin_focus_test.OP_UNIQUE_CARRIER=='DL') | (origin_focus_test.OP_UNIQUE_CARRIER=='OO')]

In [14]:
origin_focus_test.shape

(31454, 28)

In [15]:
origin_focus_train['ORIGIN'].nunique()

3

In [16]:
focused_df = pd.DataFrame(origin_focus_train)

In [17]:
focused_df

         YEAR  DAY_OF_MONTH  ...  SECURITY_DELAY LATE_AIRCRAFT_DELAY
0        2015            15  ...             0.0                13.0
1        2015            16  ...             0.0                 0.0
2        2015            17  ...             0.0                 0.0
3        2015            18  ...             0.0                 0.0
4        2015            19  ...             0.0                 0.0
...       ...           ...  ...             ...                 ...
1881504  2018            24  ...             0.0                 0.0
1881508  2018            24  ...             0.0                 0.0
1881510  2018            24  ...             0.0                 0.0
1881522  2018            24  ...             0.0                 0.0
1881555  2018            24  ...             0.0                 0.0

[277372 rows x 28 columns]

In [18]:
focused_df.dtypes

YEAR                     int64
DAY_OF_MONTH             int64
DAY_OF_WEEK              int64
FL_DATE                 object
OP_UNIQUE_CARRIER       object
ORIGIN                  object
ORIGIN_WAC               int64
DEST                    object
DEST_WAC                 int64
DEP_TIME               float64
DEP_DELAY              float64
DEP_DEL15              float64
TAXI_OUT               float64
TAXI_IN                float64
WHEELS_OFF             float64
WHEELS_ON              float64
ARR_TIME               float64
ARR_DELAY              float64
ARR_DEL15              float64
CANCELLED              float64
DIVERTED               float64
AIR_TIME               float64
DISTANCE               float64
CARRIER_DELAY          float64
WEATHER_DELAY          float64
NAS_DELAY              float64
SECURITY_DELAY         float64
LATE_AIRCRAFT_DELAY    float64
dtype: object

In [19]:
focused_df.to_csv('focused_df.csv', index = False)

In [20]:
origin_focus_test.to_csv('test_focused_df.csv', index = False)

### Preparing second testing data, where I will include just WN.

In [21]:
test_data_WN = origin_focus_test[(origin_focus_test.OP_UNIQUE_CARRIER=='WN')]

In [22]:
test_data_DL = origin_focus_test[(origin_focus_test.OP_UNIQUE_CARRIER=='DL')]

In [23]:
test_data_OO = origin_focus_test[(origin_focus_test.OP_UNIQUE_CARRIER=='OO')]

In [24]:
test_data_DL.shape

(20145, 28)

# **Saving the testing data focused on the top 3 airlines -**

In [25]:
test_data_WN.to_csv('test_WN.csv', index = False)

In [26]:
test_data_DL.to_csv('test_DL.csv', index = False)

In [27]:
test_data_OO.to_csv('test_OO.csv', index = False)

In [28]:
focused_df.columns

Index(['YEAR', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE', 'OP_UNIQUE_CARRIER',
       'ORIGIN', 'ORIGIN_WAC', 'DEST', 'DEST_WAC', 'DEP_TIME', 'DEP_DELAY',
       'DEP_DEL15', 'TAXI_OUT', 'TAXI_IN', 'WHEELS_OFF', 'WHEELS_ON',
       'ARR_TIME', 'ARR_DELAY', 'ARR_DEL15', 'CANCELLED', 'DIVERTED',
       'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY',
       'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY'],
      dtype='object')

In [29]:
train_data = pd.read_csv('/content/focused_df.csv')

In [30]:
train_data

        YEAR  DAY_OF_MONTH  ...  SECURITY_DELAY LATE_AIRCRAFT_DELAY
0       2015            15  ...             0.0                13.0
1       2015            16  ...             0.0                 0.0
2       2015            17  ...             0.0                 0.0
3       2015            18  ...             0.0                 0.0
4       2015            19  ...             0.0                 0.0
...      ...           ...  ...             ...                 ...
277367  2018            24  ...             0.0                 0.0
277368  2018            24  ...             0.0                 0.0
277369  2018            24  ...             0.0                 0.0
277370  2018            24  ...             0.0                 0.0
277371  2018            24  ...             0.0                 0.0

[277372 rows x 28 columns]